<form method='POST' action='/course/store'>
    <label for='exampleInputEmail1'>Name</label>
    <input
        type='text'
        name='name'
        class='form-control'
        placeholder='Nhập tên'
    />
    <label for='exampleInputEmail1'>VideoId</label>
    <input
        type='text'
        name='videoId'
        class='form-control'
        placeholder='Nhập từ khóa'
    />
    <label for='exampleInputEmail1'>Description</label>
    <input
        type='text'
        name='description'
        class='form-control'
        placeholder='Nhập mô tả'
    />

    <button type='submit' class='btn btn-primary mt-2'>Submit</button>
</form>