<form method="POST">
  <label for="exampleInputEmail1">Từ khóa</label>
  <input
    type="text"
    name="q"
    class="form-control"
    id="exampleInputEmail1"
    placeholder="Nhập từ khóa"
  />
  <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>